/* Light mode styles */
:root {
  --bg-color: #ffffff;
  --text-color: #111;
  --note-bg-color: #f0f0f0;
  --note-border-color: #d0d0d0;
  --button-bg-color: #f0f0f0;
  --modal-bg-color: #fefefe;
  --modal-border-color: #888;
  --delete-button-bg-color: #ff4d4d;
  --delete-button-color: white;
  --selection-box-border-color: #007bff;
  --selection-box-bg-color: rgba(0, 123, 255, 0.1);
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a1a1a;
    --text-color: #f0f0f0;
    --note-bg-color: #2a2a2a;
    --note-border-color: #3a3a3a;
    --button-bg-color: #2a2a2a;
    --modal-bg-color: #2a2a2a;
    --modal-border-color: #3a3a3a;
    --delete-button-bg-color: #cc3939;
    --delete-button-color: #f0f0f0;
    --selection-box-border-color: #0056b3;
    --selection-box-bg-color: rgba(0, 86, 179, 0.2);
  }
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  font-family: 'Iosevka Medium', 'Courier New', Courier, monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.canvas-page {
  min-width: 500vw;
  min-height: 500vh;
}

[class*="container"] {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#canvas {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.note {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  background-color: var(--note-bg-color);
  border: 1px solid var(--note-border-color);
  border-radius: 4px;
  padding: 3px 5px;
  min-width: 150px;
  cursor: move;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
  font-family: 'Iosevka Medium', 'Courier New', Courier, monospace;
  color: var(--text-color);
}

.note.selected {
  border: 2px solid var(--selection-box-border-color);
}

.note pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit;
  font-size: inherit;
}

.note.header {
  font-weight: bold;
}
.note-input {
  width: 100%;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  overflow: hidden;
  color: inherit;
}

.note-input:focus {
  outline: none;
}

.selection-box {
  position: absolute;
  border: 2px dashed var(--selection-box-border-color);
  background-color: var(--selection-box-bg-color);
  pointer-events: none;
}

#project-list {
  list-style-type: none;
  padding: 0;
}

#project-list li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#project-list a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

#new-project-form {
  margin-top: 20px;
}

#new-project-input {
  padding: 5px;
  width: 200px;
  background-color: var(--note-bg-color);
  color: var(--text-color);
  border: 1px solid var(--note-border-color);
}

.back-button {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: var(--button-bg-color);
  text-decoration: none;
  color: var(--text-color);
  border-radius: 3px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--modal-bg-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--modal-border-color);
  width: 80%;
  max-width: 500px;
}

.settings-button {
  background-color: var(--button-bg-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--text-color);
}

#delete-project {
  background-color: var(--delete-button-bg-color);
  color: var(--delete-button-color);
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

#close-modal {
  background-color: var(--button-bg-color);
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  color: var(--text-color);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--modal-bg-color);
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
}

#canvas-search {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid var(--note-border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
}

#search-results {
  max-height: 300px;
  overflow-y: auto;
}

.search-result {
  padding: 10px;
  cursor: pointer;
}

.search-result:not(:last-child) {
  border-bottom: 1px solid var(--note-border-color);
}

.search-result:hover {
  background-color: var(--note-bg-color);
}

.search-result:first-child {
  background-color: var(--note-bg-color);
}